/* TABLE OF CONTENT

*/

*, *:before, *:after {
    box-sizing: border-box;
  }

  h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 100%;
}

.container-fluid {
    width: 85%; 
    margin: auto;
}

/* ========
 container-1
  ======== */

.introduction {
    margin-top: 100px;
    max-width:550px;
}

.navbar {
    max-width: 550px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.title {
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: bold;
}

.description {
    font-family: 'Poppins';
    font-size: 16px;
}

.action-btn-mobile {
    margin: auto;
}

.action-btn {
    width: 313px;
    height: 55px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #FCAF17;
    cursor: pointer;
    margin-top: 50px;
}

.action-btn span {
    font-family: 'Poppins';
}

.video-playback-preview {
    width: 100%;
}

.action-btn-desktop {
    display: none;
}

@media (min-width: 1500px) {
    .navbar {
        max-width: none;
    } 
    .introduction {
        margin-top: 170px;
        display: flex;
        align-items: flex-start;
        max-width: none;
    }
    .box {
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    .box-text {
        width: 550px;
    }
    .title {
        font-size: 60px;
    }
    .description {
        font-size: 22px;
    }
    .video-playback-preview {
        margin-top: 10px;
        width: 100%;
        max-width:850px;
    } 
    .action-btn-desktop {
        display: inline-block;
    }
    .action-btn-mobile {
        display: none;
    }
}


/*
todo:
- fix some small issues (for example, the title has to be in 2 rows not in just one)
*/

/* =========
container 2
=========== */