
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container-wide {
    width: 85%;
    max-width: 34.375rem;
    margin: auto;
}

@media (min-width: 93.75rem) {
    .container-wide {
        max-width: 87.5rem;
    }
}

/* =================
0. TYPOGRAPHY
=================== */


body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.1875rem;
    margin-bottom: 0.625rem;
}

@media (min-width: 93.75rem) {
    h1 {
        font-size: 3.75rem;
    }
}

h2 {
    font-size: 1.5625rem;
    margin-bottom: 3.25rem;
}

@media (min-width: 93.75rem) {
    h2 {
        font-size: 3.125rem;
    }
}

h3 {
    font-size: 1.125rem;
}

@media (min-width: 93.75rem) {
    h3 {
        font-size: 2.1875rem;
    }
}

p {
    font-size: 1rem;
}

@media (min-width: 93.75rem) {
    p {
        font-size: 1.375rem;
    }
}

.section-title {
    margin-bottom: 3.125rem;
}

@media (min-width: 93.75rem) {
.section-title {
    margin-bottom: 9.375rem;
    }
}


/* =================
1. BUTTONS
=================== */

/*  Action button */

.action-btn {
    width: 60%;
    max-width: 19.5625rem;
    height: 3.4375rem;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 0.375rem;
    background-color: #FCAF17;
    cursor: pointer;
}


.action-btn:hover {
    background-color: #FBBC05;
}

/* Login btn */

.login-btn {
    width: 40%;
    max-width: 10.125rem;
    height: 3.4375rem;
    border: 0.1875rem solid #FCAF17;
    border-radius: 0.375rem;
    background-color: white;
    color: #FCAF17;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #FAFAFA;
}


/* Btn group */

.btn-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.btn-group > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 93.75rem) {
    .btn-group {
        margin-top: 0;
        justify-content: start;
    }
}




/* ========
 2. HEADER
  ======== */


  nav {
    margin: 0rem;
    padding: 0rem;
}

@media (min-width: 93.75rem) {
    nav {
        height: 6vh;
    }
}

@media (min-width: 93.75rem) {
    .introduction-container {
        height: 86vh;
    }
}

/* HEADER NAVBAR */

.navbar-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0.625rem 0rem;
}

.navbar-ul li {
    z-index: 2;
}


@media (min-width: 93.75rem) {
    .logo-icon {
        width: 8.75rem;
    }
}

/* HEADER INTRODUCTION SECTION*/


.introduction-section {
    margin-top: 3.75rem;
    margin-bottom: 5rem;
}

@media (min-width: 93.75rem) {
    .introduction-section {
        margin-top: 0;
    }
}


@media (min-width: 93.75rem) {
    .introduction-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        top: -6.25rem;
        gap: 5rem;
    }
}

.introduction-side { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 93.75rem) {
    .introduction-side {
        width: 50%;
        display: inline-block;
    }
}


/* left side */

.introduction-title,
.introduction-description {
    text-align: center;
}

.introduction-title {
    margin-bottom: 0.75rem;
}

.introduction-description {
    margin-bottom: 1.6875rem;
}

@media (min-width: 93.75rem) {
    .introduction-title,
    .introduction-description {
        text-align: left;
    }
}



/* right side */

.introduction-img-wrapper {
    position: relative;
}

.introduction-img-preview {
    max-width: 100%;
    height: auto;
}

@media (min-width: 93.75rem) {
    margin-bottom: 3.75rem;
}

.introduction-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    margin-top: -3.75rem;
    cursor: pointer;
}

@media (min-width: 93.75rem) {
    .introduction-play-btn {
        width: 11.25rem;
        margin-left: -5.625rem;
        margin-top: -5.625rem;
    }
}

/* arrow down icon */

.arrowDownContainer {
    position: absolute;
    bottom: 1.25rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.arrow-down-icon {
    width: 2.5rem;
}

@media (min-width: 93.75rem) {
    .arrow-down-icon {
        width: 4.375rem;
    }
}





/* ==========
3. STEPS SECTION
========= */


.steps-section {
    background-color: #F8F8F8;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ROW + LAYOUT */

.step-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
}

@media (min-width: 93.75rem) {
    .step-row {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 93.75rem) {
    .step-row-odd {
        flex-direction: row-reverse;
    }
    .step-row-even {
        flex-direction: row; 
    }
}

@media (max-width: 93.75rem) {
    .text-container {
        margin-left: 1.25rem;
    }
}

@media (min-width: 93.75rem) {
    .text-container {
        width: 100%;
        max-width: 25rem;
        margin-left: 6.25rem;
    }
}

.step-img {
    width: 100%;
    max-width: 34.375rem;
    /* box-shadow: 0px 0px 40px 20px rgba(240, 30, 30, 0.05); */
}

/* TEXT CONTAINER */

.text-container, .step-title {
    position: relative;
}

.counter {
    position: absolute;
    top: -2.3125rem;
    left: -3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.625rem;
    height: 4.625rem;
    border-radius: 50%;
    background-color: #F9EAD0;
    color: #FFFFFF;
    font-size: 2.75rem;
}



@media (min-width: 93.75rem) {
    .counter {
        top: -5rem;
        left: -6.875rem;
        width: 9.8125rem;
        height: 9.8125rem;
        font-size: 5.9375rem;
    }
}



/* =======
4. TESTIMONIALS SECTION
======== */


.testimonials-section {
    padding-top: 6rem;
    padding-bottom: 6.25rem;
    background-color: #E9E9E9;
}

@media (min-width: 93.75rem) {
    .testimonials-section {
        padding-top: 9.125rem;
        padding-bottom: 6.25rem
    }
}

@media (min-width: 93.75rem) {
    .testimonials-row {
        display: flex;
        justify-content: center;
        gap: 6.25rem;
        margin-bottom: 5rem;
    }
}


/* TESTIMONIAL CARD COMPONENT */ 

.testimonial-card {
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 0.375rem;
    padding: 1.875rem 3.125rem 1.4375rem 2.3125rem;
    max-width: 32.25rem;
    background-color: white;
}

.testimonial-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.testimonials-avatar {
    margin-right: 0.3125rem;
}

.testimonial-name {
    font-size: 0.9375rem;
    font-weight: 600;
    color: #111111;
    vertical-align: top;
    position: relative;
    top: 0.5rem;
}


.testimonial-name-description {
    font-size: 0.625rem;
    color: #B2B2B2;
    vertical-align: top;
    position: relative;
    top: 0.75rem;
}

.testimonial-content {
    font-size: 1rem;
}

@media (max-width: 23.75rem) {
    .testimonial-content {
        display: none;
    }
}




/* =======
5. ENDING SECTION
======== */

.ending-title {
    font-size: 1.875rem;
    text-align: center;
}

@media (min-width: 93.75rem) {
    .ending-title {
        font-size: 2.8125rem;
        margin-bottom: 2.0625rem;
        text-align: left;
    }
}

.ending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4.625rem;
    padding-top: 6rem;
}

@media (min-width: 93.75rem) {
    .ending-container {
        flex-direction: row;
        gap: 6.25rem;
        padding-top: 9.375rem;
        padding-bottom: 16.1875rem;
    }
}

@media (min-width: 93.75rem) {
    .ending-top {
        max-width: 37.375rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ending-image {
    width: 100%;
    max-width: 33.6875rem;
}



/* ==========
6. FOOTER 
============ */


footer {
    background-color: #141414;
    color: #F2F2F2;
}



/* =======
7. UTILITIES 
========= */


.text-center {
    text-align: center;
}

.margin-bottom-36px {
    margin-bottom: 2.25rem;
}

@media (max-width: 93.75rem) {
    .desktop-only {
        display: none !important;
    }
}

@media (min-width: 93.75rem) {
    .mobile-only {
        display: none !important;
    }
}

