/* TABLE OF CONTENT

*/

*, *:before, *:after {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

  h1, h2, h3, p {
    margin: 0;
}


.container-fluid {
    width: 85%;
    max-width: 550px;
    margin: auto;
}

/* ========
 container-1
  ======== */

header {
    height: 100vh;
}

.introduction {
    padding-top: 100px;
    max-width:550px;
}

.navbar {
    max-width: 550px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.title {
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: bold;
}

.introduction-title {
    margin-bottom: 12px;
}

.description {
    font-family: 'Poppins';
    font-size: 16px;
}


.action-btn {
    width: 80%;
    max-width: 313px;
    height: 55px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #FCAF17;
    cursor: pointer;
    margin-top: 45px;
}

.action-btn:hover {
    background-color: #FBBC05;
}

.action-btn span {
    font-weight: 600;
}

.action-btn-mobile {
    margin: auto;
}


.video-playback-preview {
    width: 100%;
    margin-top: 27px;
    margin-bottom: 45px;
}

.video-container {
    position: relative;
}
.playBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    margin-left: -60px; 
    margin-top: -60px; 
    cursor: pointer;
}

.action-btn-desktop {
    display: none;
}

@media (min-width: 1500px) {
    .playBtn {
        width: 180px;
        margin-left: -90px; 
        margin-top: -90px; 
    }
    .container-fluid {
        max-width: none;
    }
    .navbar {
        max-width: none;
    } 
    .logo-icon {
        width: 140px;
    }
    .introduction {
        margin-top: 170px;
        display: flex;
        align-items: flex-start;
        max-width: none;
    }
    .box {
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    .box-text {
        width: 550px;
    }
    .title {
        font-size: 60px;
    }
    .description {
        font-size: 22px;
    }
    .video-playback-preview {
        margin-top: 10px;
        width: 100%;
        max-width:850px;
    } 
    .action-btn {
        margin-top: 28px;
    }
    .action-btn-desktop {
        display: inline-block;
    }
    .action-btn-mobile {
        display: none;
    }
}


/*
todo:
- fix some small issues (for example, the title has to be in 2 rows not in just one)
*/


.arrowDown {
    width: 40px;
    margin-bottom: 70px;
    cursor: pointer;
}


.text-center {
    text-align: center;
}

.section-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 102px;
}

@media (min-width: 1500px) {
    .section-title {
        font-size: 50px;
        margin-bottom: 192px;
    }
    .arrowDown {
        width: 70px;
    }
}


.steps {
    background-color: #F8F8F8;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ==========
2. STEPS SECTION
========= */

/* FONTS + FONT SPACING */

.step-title {
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.step-description {
    font-size: 16px;
}


@media (min-width: 1500px) {
    .step-title {
        font-size: 35px;
    }
    .step-description {
        font-size: 22px;
    }
}


/* 2.1. ROW, LAYOUT */

@media (min-width: 1500px) {
    .row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    
    .row > * {
        width: 50%;
    }
    
    .row-odd {
        flex-direction: row-reverse;
    }
}


/* 2.2 TEXT CONTAINER */

@media (min-width: 1500px) {
    .row-odd > .text-container {
        display: flex;
        justify-content: flex-start;
    }
    
    .row-even > .text-container {
        display: flex;
        justify-content: flex-end;
    }
      
            .sub-container {
                width: 600px;
                display: flex;
                align-items: center;
                position: relative;
            }
    
                .top {
                    position: relative;
                }
                .bottom {
                    position: absolute;
                }
    
                .row-odd * .top {
                    left: 0px;
                    top: -120px;
                }
    
                .row-odd * .bottom {
                    left: 120px;
                    width: 70%;
                }
    
    
                .row-even * .top {
                    left: 60px;
                    top: -120px;
                }   
    
                .row-even * .bottom {
                    right: 0px;
                    width: 70%;
                }
    
                .counterImg {
                    width: 157px;
                }
    
    
    .step-title {
        font-size: 35px;
    }
}


/* 2.3. IMAGE CONTAINER */

@media (min-width: 1500px) {

    .stepImg {
        width: 100%;
        max-width: 574px;
    }
    .img-container {
        display: flex;
    }
    .row-odd > .img-container {
        justify-content: flex-end;
    }
    .row-even {
        justify-content: flex-start;
    }
}


@media (max-width: 1500px) {
    .row {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .row > * {
        width: 100%;
    }
    .counterImg {
        width: 74px;
        position: absolute;
        top: -37px;
        left: 0px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .bottom {
        margin-left: 50px;
    }
    .img-container {
        justify-self: center;
        align-items: center;
    }
    .stepImg {
        width: 100%;
    }

    /*
    .counterImg {
        width: 74px;
        position: absolute;
        top: 20px;
        left: -30px;
    }
    .text-container {
        margin-bottom: 80px;
    }
    .row-odd * .bottom {
        left: 25px;
        width: 100%;
    }
    */

}




/* =======
TESTIMONIALS 
======== */


.testimonials {
    padding-top: 96px;
    padding-bottom: 100px;
    background-color: #E9E9E9;
}

.testimonials-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 30px 50px 23px 37px;  /* t r b l, starting from the TOP */
    max-width: 516px;
    background-color: white;
}

.testimonials-card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.card-avatar {
    margin-right: 5px;
}

.card-name {
    font-size: 15px;
    font-weight: 600;
    color: #111111;
    vertical-align: top;
    position:relative;
    top: 8px;
}


.card-name-description {
    font-size: 10px;
    color: #B2B2B2;
    vertical-align: top;
    position:relative;
    top: 12px;
}

.card-review {
    font-size: 16px;
}

@media (max-width: 380px) {
    .card-name-description {
        display: none;
    }
}


@media (min-width: 1500px) {
    .testimonials {
        padding-top: 146px;
        padding-bottom: 100px
    }
    .testimonials-row {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-bottom: 80px;
    }
}




.introduction, .testimonials, .steps {
   /* display: none; */
}


/* ending */

.ending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 74px;
    padding-top: 96px;
}


.ending-image {
    max-width: 539px;
}

.margin-bottom-36px {
    margin-bottom: 36px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
}

.btn-group *{
    padding-top: 16px;
    padding-bottom: 16px;
}

.add-to-chrome-btn {
    width: 60%;
    max-width: 313px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #FCAF17;
    cursor: pointer;
}

.add-to-chrome-btn:hover {
    background-color: #FBBC05;
}

.add-to-chrome-btn span {
    font-family: 'Poppins';
    font-weight: 600;
}

.login-btn {
    width: 40%;
    max-width: 162px;
    border: 3px solid #FCAF17;
    border-radius: 6px;
    background-color: white;
    color: #FCAF17;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #FAFAFA;
}

.ending-title {
    font-size: 30px;
}
.btn-group-desktop-only {
    display: none;
}


.stepImage {
    width: 550px;
    max-width: 100%;
}

@media (min-width: 1500px) {
    .ending-container {
        flex-direction: row;
        gap: 100px;
        padding-top: 150px;
        padding-bottom: 259px;
    }
    .ending-top {
        max-width: 598px;
        display: flex;
        flex-direction: column;
       justify-content: center;
    }
    .ending-title {
        font-size: 45px;
        margin-bottom: 33px;
        text-align: left;
    }
    .btn-group {
        margin-top: 0;
        justify-content: start;
    }
    .btn-group-desktop-only {
        display: flex;
    }
    .btn-group-mobile-only {
        display: none;
    }
    .stepImage {
        width: 100%;
        max-width: 574px;
    }
}




/* ==========
FOOTER 
============ */


footer {
  background-color: #141414;
  color: #F2F2F2;
}




